body {
  margin: 0 20px;
  font-family: Arial, sans-serif;
  color: #000; /* Черный цвет текста */
  background: #ececec; /* Светло-серый фон */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ececec;
}

.background-element {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  z-index: -1;
}

.highlight-window {
  position: relative;
  width: 400px; /* Фиксированная ширина */
  height: 700px; /* Фиксированная высота */
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.highlight-overlay {
  position: relative;
  width: 500px; /* Ширина контейнера */
  height: 700px; /* Высота контейнера */
  overflow: hidden; /* Обрезка содержимого за границами контейнера */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9; /* Фон на случай, если изображение не загрузится */
}

.highlight-overlay img {
  width: 100%; /* Ширина изображения равна ширине контейнера */
  height: 100%; /* Высота изображения равна высоте контейнера */
  object-fit: cover; /* Масштабируем изображение, чтобы заполнить контейнер */
  object-position: center; /* Центрируем изображение внутри контейнера */
}

.window {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: white;
}
